<h1>Friends</h1>

<% @friends.each do |friend| %>
  <h5><%= friend.friend.username %></h5>
<% end %>

<h1>Friend Requests</h1>
<% @friend_requests.each do |friend_request| %>
  <h5><%= friend_request.befriender.username %></h5>
  <%= link_to "Accept", "/friends/decision/#{friend_request.id}", method: :patch, class: 'btn btn-success' %>
  <%= link_to "Decline", "/friends/#{friend_request.id}", method: :delete, class: 'btn btn-danger' %>
<% end %>
