<div class="container jumbo-form">
  <div class="jumbotron">
    <div class="form">
      <h2>Edit Article</h2>
      <br /><br />
      <%= render "edit_form", purpose: "Update", url: "/post/#{@post.id}", verb: :patch %>
    </div>
  </div>
</div>
