@import "bootstrap";

//------------------GLOBAL VARIABLES----------------//
$background_color: #FFFFFF;
$font_color: #ECF0F1;
$link_color : black;
$nav_bar_link_hover_color: #BEC3C7;
$header_background_color: #273644;
// #55d6aa;

//------------------GLOBAL STYLING----------------//
body {
  margin: 0;
  background: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

//------------------NAVBAR STYLING----------------//

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: $header_background_color;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 20px 0;
  list-style: none;
  font-weight: bold;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: $font_color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-color: $font_color;
}

nav a:hover {
  color: $nav_bar_link_hover_color;
  text-decoration: none;
}


nav a:before {
  content: '';
  display: block;
  height: 5px;
  background-color: $font_color;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 150ms;
}

nav a:hover::before {
  width: 100%;
}

.logo a {
  color: $font_color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
}

.logo a:hover {
  color: $nav_bar_link_hover_color;
  text-decoration: none;
}

//------------------POSTS INDEX STYLING----------------//
