@import "bootstrap";

//------------------GLOBAL VARIABLES----------------//
$background_color: #FFFFFF;
$font_color: #93A5A5;
$link_color : black;
$nav_bar_link_hover_color: #7E8C8D;
$header_background_color: #fff;

//------------------GLOBAL STYLING----------------//
body {
  margin: 0;
  background: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


//------------------NAVBAR STYLING----------------//

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: $header_background_color;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 20px 0;
  list-style: none;
  font-weight: bold;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: $font_color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-color: $font_color;
}

nav a:hover {
  color: $nav_bar_link_hover_color;
  text-decoration: none;
}


nav a:before {
  content: '';
  display: block;
  height: 5px;
  background-color: $font_color;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 150ms;
}

nav a:hover::before {
  width: 100%;
}

.logo a {
  color: $font_color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
}

.logo a:hover {
  color: $nav_bar_link_hover_color;
  text-decoration: none;
}

//------------------POSTS INDEX STYLING----------------//

.skinny-wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
  hr {
    width: 70%;

    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid $nav_bar_link_hover_color;
    margin: 1.5em auto;
  }
}

.post {
  text-align: center;
  // border-bottom: 2px solid $font_color;
  margin-bottom: 20px;
  margin-top: 20px;
  h1 {
    margin: 0;
    margin-bottom: 7px;
  }
  .date {
    margin: 0;
    color: #93A5A5;
    font-size: .9em;
  }
  .username {
    color: #000;
    font-size: 1.2em;
  }

  a {
    color: #1E262C;
  }

  a:hover {
    color: $nav_bar_link_hover_color;
  }
}
